<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<footer id="footer" th:fragment="footer">
    <img id="album_art" src="/static/img/icon/timg.jpg" alt="封面">

    <div id="musicBar">
        <div id="playOptions">
            <span><img src="/static/img/icon/previous.png" id="previous" alt="上一首" title="上一首"></span>
            <span><img src="/static/img/icon/play.png" id="playToggle" alt=""></span>
            <span><img src="/static/img/icon/next.png" id="next"  alt="下一首" title="下一首"></span>
        </div>
        <div id="musicInfo">
            <span id="song">小情歌</span></br>
            <span id="singer">苏打绿</span>
        </div>
        <div id="imagePlayOptions">
            <img src="/static/img/icon/music.png" id="playList" alt="播放列表" title="播放列表">
            <img src="/static/img/icon/rank.png" id="rank" alt="顺序播放" title="顺序播放">
            <img src="/static/img/icon/shuffle.png" id="shuffle" alt="随机播放" title="随机播放">
            <img src="/static/img/icon/loop.png" id="loop" alt="循环播放" title="循环播放">
        </div>
        <div id="voice">
            <img src="/static/img/icon/trumpet.png" alt="静音" title="静音">
            <progress max="100" value="66" id="voiceProgress"></progress>
            <div class="bullet"></div>
        </div>
        <div id="seekBar">
            <span id="now">00:00</span>
            <progress id="seekBarProgress" max="100" value="0"></progress>
            <div  class="bullet"></div>
            <span id="total">04:30</span>
        </div>
        <audio id="audio" controls="controls" style="height: 0"   ></audio>
    </div>
</footer>

</body>
</html>