#history {
    width: 32vw;
    height: 19.2vw;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 8vw;
    bottom: 20vh;
    overflow-y: scroll;
    display: none;
    opacity: 0;
    text-align: center;
    font-family: "楷体", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;

}

#history::-webkit-scrollbar {
    width: 2px;
    background: none;
}
#history ul{
    display: inline-block;
    margin: 3.2vh 0 0 0;
    padding: 0;
}
#history #login_tip{
    width: 100%;
    margin-top: 30%;
    color: #cccccc;
}
#history #login_tip a{
    color: #00c85f;
}
#history ul li {
    display: inline-block;
    list-style: none;
    width: 24vw;
    height: 7vh;
    line-height: 7vh;
    color: cadetblue;
    border-bottom: 1px solid #2b2b2b;
    font-size: 14px;
}

#history ul li a:hover {
    color: #00c85f ;
    transition: color 0.3s;
}
 .opt{
    color: #00c85f !important;
}
#history li a {
    display: inline-flex;
    cursor: pointer;
    width: 14vw;
    color: #c9c9c9;
}

#history li span {
    width: 8vw;
    color: #6d6d6d;
    text-align: left;
}
