#tip_frag{
    width: 30vw;
    height: 18vw;
    background: rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 5%;
    color: white;
    font-family: "楷体", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    margin-left:  -15vw;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
}
#tip_title{
    margin: 0;
    padding: 0;
    height: 9vh;
    line-height: 9vh;
    font-size: 18px;
    border-bottom: 1px cornflowerblue solid;
}
#tip_message{
    width: 26vw;
    margin-left: 2vw;
    margin-top: 3.2vw;
    font-size: 17px;
}
#tip_frag input{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#tip_frag :nth-child(3){
    color: #EFEFF4;
    background: dodgerblue;
    margin-right: 6vh;
}
#tip_frag input:nth-child(4){
    color: dodgerblue;
    border: 1px dodgerblue solid;
    margin-left:6vh;
}