<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>音乐搜索界面</title>
</head>
<link rel="stylesheet" th:href="@{/static/css/head.css}">
<link rel="stylesheet" th:href="@{/static/css/search.css}">
<link rel="stylesheet" th:href="@{/static/css/tip.css}">
<link rel="stylesheet" th:href="@{/static/css/footer.css}">
<link rel="stylesheet" th:href="@{/static/css/history.css}">
<link rel="stylesheet" th:href="@{/static/css/login.css}">
<link rel="shortcut icon" th:href="@{../static/favicon.ico}"/>
<link rel="bookmark" th:href="@{../static/favicon.ico}"/>
<style>

</style>
<body>
<div th:replace="/thymeleaf/common/head :: head"></div>
<div th:replace="/thymeleaf/common/login :: login"></div>
<div id="musicList">
    <div>
        <ul id="nav">
            <li class="li_class1">#</li>
            <li class="li_class2">歌曲</li>
            <li class="li_class3">歌手</li>
            <li class="li_class4">专辑</li>
            <li class="li_class5">时长</li>
        </ul>
    </div>
    </br>
    <ul id="songList">
        <li th:each="songInfo : ${songList}" th:object="${songInfo}">
            <a class="li_class1" th:text="${songInfoStat.index+1}"></a>
            <a class="li_class2" th:text="*{songName}" th:title="*{completeSongName}"></a>
            <a class="li_class3" th:text="*{singerName}" th:title="*{completeSingerName}"></a>
            <a class="li_class4" th:text="*{albumName}" th:title="*{completeAlbumName}"></a>
            <a class="li_class5" th:text="*{intervalMmss}"></a>
        </li>
    </ul>
</div>
<div th:replace="/thymeleaf/common/history :: history"></div>
<div th:replace="/thymeleaf/common/tip :: tip"></div>
<div th:replace="/thymeleaf/common/footer :: footer"></div>
<div th:replace="/thymeleaf/common/data :: scripts(~{this :: .custom-script})"></div>
<script th:src="@{/static/js/tool.js}"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/history.js}"></script>
<script th:src="@{/static/js/propress.js}"></script>
<script th:src="@{/static/js/footer.js}"></script>
<script th:src="@{/static/js/search.js}"></script>
<script th:src="@{/static/js/login.js}"></script>
<script th:src="@{/static/js/tip.js}"></script>

<script>
</script>
</body>
</html>
